<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p><%=startingContent%></p>
    <br>
    <i class="fa-brands fa-github contactIcon"></i><a class="contactLink" href="https://github.com/vtisbierek/">Github</a>
    <br>
    <i class="fa-brands fa-linkedin contactIcon"></i><a class="contactLink" href="https://www.linkedin.com/in/victortisbierek/">Linkedin</a>
<%- include("partials/footer"); -%>